.story
{
    background-color:rgba($color-white, .5);
    width:75%;
    margin:0 auto;
    padding:6rem;
    font-size:$default-font-size;
    border-radius:3px;
    box-shadow:0 3rem 6rem rgba($color-black,.1);
    transform:skewX(-12deg);
     @include respond(tab-port)
     {
          width:100%;
     }
     @include respond(phone)
     {
           transform:skewX(0);
     }
       
    
    &>*
    {
        transform:skewX(12deg);
         @include respond(phone)
       {
           transform:skewX(0);
       }
    }
&__image
    {
        width:15rem;
        height:15rem;
        float:left;
        overflow:hidden;
     
        
        margin-right: 4rem;
        position:relative;
        backface-visibility: hidden;

    
            shape-outside:circle(50% at 50% 50%);
        clip-path:circle(50% at 50% 50%);
        border-radius:none;
        @include respond(phone)
        {
            float:none;
            margin:0 auto;
        }
    
        
       
    }
        
        &__img
        {
            height:100%;
            transform:translateX(-3rem) scale(1.4);
            transition:all .5s;
            backface-visibility: hidden;
             
            
           
        }
     &__caption
    {
        font-size:1.7rem;
        text-transform:uppercase;
        color:$color-white;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,20%);
        backface-visibility:hidden;
        text-align: center;
        transition:all .5s;
        opacity:0;
        
    }
    &:hover &__img
    {
        transform:translateX(-3rem) scale(1);
        filter:blur(3px) brightness(80%);
    }
   
    
   &:hover &__caption
    {
         transform:translate(-50%,-50%);
        opacity:1;
        
    }
    &__text
    {
        @include respond(phone)
        {
            text-align: center;
        }
        
        h3
        {
            @include respond(phone)
        {
            display:block;
            width:100%;
        }
        }
    }
    
    
    
}